@import 'generated/style-dictionary/tokens.css';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.palette {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.palette li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.palette span {
  display: inline-block;
  height: 2em;
  aspect-ratio: 3/1;
}